{% extends 'base.html.twig' %}
{% import "event/eventMacros.html" as forms %}

{% block title %}KTU NOW{% endblock %}

{% block body %}

    <div id="home" class="container">

        {% if is_granted('ROLE_ADMIN') %}
            <a class="btn container d-block btn-outline-primary my-3"  style="width:60%"" href="{{ path('event_new') }}"> New
                event </a>
        {% endif %}

        {% for event in events %}
            <article>
                <a href="{{ path('event_show', {'id': event.id}) }}">
                    <h2 style="font-weight: bold"> {{ event.title }} </h2></a>


                <div class="meta">
                    <p style="float:left"> {{ event.getDate|date('Y-m-d')  }} </p>
                    {{ forms.price_format(event) }}
                </div>

                <a href="{{ path('event_show', {'id': event.id}) }}">
                    {% if event.image %}
                        <img class="eventImage" src={{ asset('uploads/images/' ~ event.image) }} />
                    {% else %}
                        <img class="eventImage" src={{ asset('uploads/images/placeholder.png') }} />
                    {% endif %}
                </a>

                <p> Paskelbtas: <span class="text-muted"> {{ event.getCreatedAt|date('Y-m-d')  }}</span>  </p>
                <p> {{ event.description }} </p>
                <p class="categories">
                    {% for category in event.eventCategories %}
                        {{ category.name }}
                    {% endfor %}
                </p>

                {{ forms.event_administration(event.id) }}

            </article>


        {% endfor %}

    </div>


{% endblock %}
