{% extends 'base.html.twig' %}

{% import "event/eventMacros.html" as eventMacro %}
{% import 'event/commentMacros.twig' as commentMacro %}

{% block title %} KTU NOW | {{ event.title }} {% endblock %}

{% block head %}
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"/>
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <style>
        #map {
            height: 400px;
            width: 100%;
        }
        .center-image {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 80%;
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script>

        $(document).ready(function () {

            var my_lat = {{ event.lat ? event.lat  : 54.897222 }};
            var my_lon = {{ event.lng ? event.lng  : 23.886111 }};

            var mymap = L.map('map').setView([my_lat, my_lon], 13);
            L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoiZGFpc2FkbWluIiwiYSI6ImNqcjk3ZWh0djAxemo0NW15Zm9pb3BiNHAifQ.UM9_gDRuLxs1mGvPSjSsHQ', {
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                maxZoom: 18,
                minZoom: 12,
                id: 'mapbox.streets',
                accessToken: 'your.mapbox.access.token'
            }).addTo(mymap);

            //  Tikram map, kur bus visi renginiai, cia bus for-iukas
            var marker = L.marker([my_lat, my_lon]).addTo(mymap).bindPopup(" " +
                "<div class='container-fluid' style=''>" +
                "<p class='my-0'>Renginys vyksta čia.</p>" +
                "</div>" +
                "");

        });


        function ajaxCreateComment() {

            var text = $("#comment_textarea").val();

            var ajaxDVS = $.ajax({
                url: '{{ path('event_new_comment') }}',
                type: 'POST',
                data: {eventId: {{ event.id }}, text: text},
                dataType: 'json',
                async: false,
            });

            ajaxDVS.done(function (data) {
                console.log(data);

                if(data['status']=="00")
                {
                    alertBox(data['message'], true);
                    window.location.reload();
                }else{
                    alertBox(data['message'], false);
                }


            }).fail(function (jqXHR, textStatus, errorThrown) {
                console.log(textStatus);
                console.log(errorThrown);
                alertBox("Ryšio klaida.", false);
            });
        }


        function alertBox(text, isSuccess) {

            $("#alert-box").removeClass('alert-success').removeClass('alert-danger');

            if(isSuccess === true)
            {
                $("#alert-box").addClass('alert-success');
            }else{
                $("#alert-box").addClass('alert-danger');
            }

            $("#alert-box").text(text);
            $("#alert-box").fadeIn();
            window.setTimeout(function () {
                $("#alert-box").fadeOut(300)
            }, 2000);
        }
    </script>
{% endblock %}

{% block body %}
    <div class="container my-4 py-2">
        <div class="jumbotron">

            <h1 class="display-3 text-center p-1">{{ event.title }}</h1>

            <div style="font-size: 1.1rem">
            <span>Data : <span class="text-muted">{{ event.date|date('Y-m-d')  }}</span> </span>

            {{ eventMacro.price_format(event) }}
            </div>
            <hr>

            <p class="lead m-2 p-2">{{ event.description }}</p>


            {% if event.image %}
            <img class="eventImage" src={{ asset('uploads/images/' ~ event.image) }} />
            {% else %}
            <img class="eventImage" src={{ asset('uploads/images/placeholder.png') }} />
            {% endif %}
            <p>
                Kategorijos:
            <ul>
                {% for category in event.eventCategories %}
                    <li>{{ category.name }}</li>
                {% endfor %}
            </ul>
            </p>
            {{ eventMacro.event_administration(event.id) }}
        </div>

        <br>

        <div class="my-1 py-1 " id="map"></div>

        <br>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div id="comments">
            <h1 align="center">Komentuoti</h1>
            <div class="row my-2 py-3 align-items-center justify-content-center text-center">
                <div class="col-10">
                    <textarea class="form-control" id="comment_textarea"></textarea>
                </div>
                <div class="col-12 my-2">
                    <button class="p-1 commentButton btn btn-primary" onclick="ajaxCreateComment()">Komentuoti</button>

                </div>
            </div>
        </div>
        <br>
        {% endif %}


        <h3>Komentarai:</h3>

            <div class="row justify-content-centre">

                {% for comment in event.comments %}
                   {{ commentMacro.printComment(comment, event) }}
                {% endfor %}
            </div>
    </div>

    <br>
    <br>

    <!-- Custom alert box -->
    <div style="left: 25%;position: fixed;width: 50% ;z-index: 1400; top: 2%; text-align: center;display: none;" id="alert-box" class="alert alert-success" data-alert="alert">{% trans %}Success save{% endtrans %}</div>



{% endblock %}