{% extends 'base.html.twig' %}

{% block title %} KTU NOW | {{ event.title }} {% endblock %}

{% block head %}
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"/>
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <style>
        #map {
            height: 400px;
            width: 100%;
        }
        .center-image {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 80%;
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {

            var my_lat = {{ event.lat }};
            var my_lon = {{ event.lng }};

            // initialize the map
            var mymap = L.map('map').setView([my_lat, my_lon], 13);
            L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoiZGFpc2FkbWluIiwiYSI6ImNqcjk3ZWh0djAxemo0NW15Zm9pb3BiNHAifQ.UM9_gDRuLxs1mGvPSjSsHQ', {
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                maxZoom: 18,
                minZoom: 12,
                id: 'mapbox.streets',
                accessToken: 'your.mapbox.access.token'
            }).addTo(mymap);


            //  Tikram map, kur bus visi renginiai, cia bus for-iukas
            var marker = L.marker([my_lat, my_lon]).addTo(mymap).bindPopup(" " +
                "<div class='container-fluid' style=''>" +
                     "<img class='center-image py-2' src='https://renginiai.kasvyksta.lt/uploads/events/15067/big/erikas-ov%C4%8Darenko-1024x683.jpg' class=\"w3-round\" alt=\"Norway\"> " +
                     "<p class='my-0'>Tai yra nuotrauka su mapu :*</p>" +
                "</div>" +
                "").openPopup();
        });
    </script>
{% endblock %}

{% block body %}
    <div class="container my-2 py-3">
        <div class="jumbotron">
            <h1 class="display-3 text-center">{{ event.title }}</h1>
            <p class="lead text-center">{{ event.excerpt }}</p>
            <hr class="my-4">
            <p class="lead">{{ event.description }}</p>
            {#<p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </p>#}
            {% if event.image %}
            <img src={{ asset('uploads/images/' ~ event.image) }} />
            {% else %}
            <img src={{ asset('uploads/images/placeholder.png') }} />
            {% endif %}
        </div>

        <br>

        <div class="my-1 py-1 " id="map"></div>

        <br>


    </div>





{% endblock %}