<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block head %}{% endblock %}

        <link rel="stylesheet" href="/assets/custom.css" />
        <!-- Bootstrap base theme -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!-- Bootstrap sketchy theme -->
        <!-- <link rel="stylesheet" href="https://bootswatch.com/4/sketchy/bootstrap.css" > -->

        <!-- Bootstrap Lux theme -->
        <!-- <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css" > -->
        <link rel="stylesheet" href="https://bootswatch.com/4/pulse/bootstrap.min.css" >
        <!-- Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>



        {% block stylesheets %}

        {% endblock %}
    </head>
    <body>

        {% block navigation %}
            <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-primary py-2">
                <a class="navbar-brand" href="{{ path('event_index') }}">KTU NOW</a>
                <button class="navbar-toggler ml-1" type="button" data-toggle="collapse" data-target="#collapsingNavbar2">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse justify-content-between align-items-center w-100" id="collapsingNavbar2">
                    <div class="navbar-nav mx-auto text-center">
                        <form class="form-inline">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-light py-1 my-sm-0" type="submit">Search</button>
                        </form>
                    </div>
                    <ul class="nav navbar-nav flex-row justify-content-center flex-nowrap">
                        <li class="nav-item active mx-2">
                            <a class="nav-link" href="{{ path('about') }}">About<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active mx-2">
                            <a class="nav-link" href={{ path('category_index') }}>Categories<span class="sr-only">(current)</span></a>
                        </li>
                        {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item active mx-2">
                            <a class="nav-link" href={{ path('users_index') }}>Users<span class="sr-only">(current)</span></a>
                        </li>
                        {% endif %}
                        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li class="nav-item active mx-2">
                            <a class="nav-link" href={{ path('app_login') }}>Log in<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active mx-2">
                            <a class="nav-link" href={{ path('app_register') }}>Register<span class="sr-only">(current)</span></a>
                        </li>
                        {% endif %}
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li class="nav-item dropdown active">
                            <a class="nav-link dropdown-toggle mx-2" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Profile
                            </a>
                            <div class="dropdown-menu dropdown-menu-right mx-2" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item mx-2" href="#">Profile</a>
                                <a class="dropdown-item mx-2" href={{ path('app_edit_user') }}>Edit profile</a>
                                <a class="dropdown-item mx-2" href={{ path('app_logout') }}>Log out</a>

                            </div>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>

        {% endblock %}


        <div class="container-fluid">
            {% block body %}{% endblock %}
        </div>


        {% block footer %}
            <footer class="footer fixed-bottom">
                ©2019 DataWolf
                <img class="footerImage" src={{ asset('uploads/images/placeholder.png') }} />
            </footer>
        {% endblock %}

        {% block javascripts %}{% endblock %}
    </body>
</html>
