{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_start(registrationForm) }}

    <div class="jumbotron">

        {{ form_errors(registrationForm) }}
        {% for child in registrationForm if not child.rendered %}
            <div class="form-group row">
                {{ form_label(child, null, { 'label_attr': {'class': 'col-sm-2 col-form-label' } }) }}
                <div class="col-sm-10">
                    {{ form_widget(child,{ 'attr': {'class': 'form-control' } }) }}
                </div>
            </div>
        {% endfor %}



        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    {{ form_end(registrationForm) }}


{% endblock %}
